<div class="editor-block module">
    <div class="row mb-2 p-1 column-gap-2 g-0">
        <div class="col p-1 column">
            <div class="block-wrapper image">
                <img src="https://placehold.co/600x500">
            </div>
        </div>
        <div class="col p-1 column d-flex flex-column justify-content-between">
            <div class="row p-0 m-0 g-0">
                <div class="col p-0 column">
                    <div class="block-wrapper image">
                        <img src="https://placehold.co/600x245">
                    </div>
                </div>
            </div>
            <div class="row p-0 m-0 g-0">
                <div class="col p-0 column">
                    <div class="block-wrapper image">
                        <img src="https://placehold.co/600x245">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>